{% extends "base.html" %} {% block content %}
<div class="centered-container">
        <h2>Welcome to Anastasia's Portfolio</h2>
        <div>
            <p>
                Hi, my name is Anastasia Salazar and this is my website. I am currently attending
                Weber State University completing my degree in Computer Science. I am working as a
                Project Management Intern/Analyst at Jade Global. My goal is to one day buy a house,
                create a beautiful garden, and become a better cook. By clicking the tabs at the top
                you can see different projects I have completed and my various hobbies, as well as, a way
                to contact me.
            </p>
        </div>
    </div>
{% endblock %}