{% extends "base.html" %} {% block content %}
<h1>Portfolio</h1>

{% if user.is_authenticated %}
<div class="mb-3">
    <a href="{% url 'portfolio_add' %}">
        <button>Add New Portfolio Item</button>
    </a>
</div>
{% endif %}
<ul class="portfolio-list">
    {% for portfolio in portfolios %}
    <li>
        <b>{{ portfolio.title }}</b>
        <div>
            <a href="{% url 'portfolio_details' portfolio.pk %}">
                <button id="{{ portfolio.title }}">Detailed View</button>
            </a>
        </div>
    </li>
    {% endfor %}
</ul>
<div class="repo-grid">
    {% for repo in repos %}
    <div class="repo-card">
        <h3><a href="{{ repo.html_url }}" target="_blank">{{ repo.name }}</a></h3>

        <p>{{ repo.description|default:"No description provided." }}</p>

        <div class="repo-stats">
            <span>⭐ {{ repo.stargazers_count }}</span>
            <span>🍴 {{ repo.forks_count }}</span>
            {% if repo.language %}
                <span class="language-badge">{{ repo.language }}</span>
            {% endif %}
        </div>
    </div>
    {% empty %}
        <p>No repositories found (or API limited reached).</p>
{% endfor %}
</div>
{% endblock %}