{% extends "base.html" %} {% block content %}
<h1>Portfolio</h1>

{% if user.is_authenticated %}
<div class="mb-3">
    <a href="{% url 'portfolio_add' %}">
        <button>Add New Portfolio Item</button>
    </a>
</div>
{% endif %}
<ul class="portfolio-list">
    {% for portfolio in portfolios %}
    <li>
        <b>{{ portfolio.title }}</b>
        <div>
            <a href="{% url 'portfolio_details' portfolio.pk %}">
                <button id="{{ portfolio.title }}">Detailed View</button>
            </a>
        </div>
    </li>
    {% endfor %}
</ul>
{% endblock %}